In [1]:
import numpy as np
import pandas as pd
from scipy.linalg import eigh, cholesky
from scipy.stats import norm

from pylab import plot, show, axis, subplot, xlabel, ylabel, grid
loss_data = pd.read_excel("data.xlsx")

In [2]:
def crec_el(x):
    return x.mean()

def crec_var(x):
    return x.quantile(0.90)
    
def crec_ul(x):
    return (x.quantile(0.90) - x.mean() )

def crec_cvar(x):
    k = x.quantile(0.90)
    x1=x[x>k]
    return x.mean()

In [3]:
loss_data.head()

   n_acct_skey  n_simulation_number  n_loss_value
0            1                    1    1890715530
1            1                    2    1918656992
2            1                    3    1886845158
3            1                    4     396265657
4            1                    5    1559681617

In [3]:
Risk_Measure = loss_data.groupby(['n_acct_skey']).agg({'n_loss_value': [crec_el,crec_cvar,crec_var,crec_ul]})
Risk_Measure

             n_loss_value
                  crec_el     crec_cvar      crec_var       crec_ul
n_acct_skey
1            9.961635e+08  9.961635e+08  1.829397e+09  8.332336e+08
2            1.591994e+04  1.591994e+04  2.712150e+04  1.120156e+04

In [11]:
loss_data.columns

Index(['n_acct_skey', 'n_simulation_number', 'n_loss_value'], dtype='object')

In [150]:
#cobverting np array to python list
acc_skeys_df = loss_data.iloc[:, 0] 
acc_skeys_df = loss_data['n_acct_skey']

In [151]:
acc_skeys_df

0       1
1       1
2       1
3       1
4       1
       ..
1995    2
1996    2
1997    2
1998    2
1999    2
Name: n_acct_skey, Length: 2000, dtype: int64

In [152]:
acc_skeys_nd_arr = acc_skeys_df.values

In [153]:
acc_skeys_nd_list = acc_skeys_nd_arr.tolist

In [154]:
acc_skeys_list = list(acc_skeys_nd_arr.flatten())

In [57]:
type(acc_skeys_list)

list

In [98]:
#python dictionary examples
acctbatches_dict  = {}
batch_id = 1
for acc_skey in acc_list:
    acctbatches_dict[batch_id] = acc_skey
    batch_id = batch_id + 1

In [2]:
acc_list =  [*range(101,125)]

In [6]:
#divide acc skeys list to batches
acc_len = len(acc_list)
batch_list  = []
batch_size = 1
for i in range(0, acc_len, batch_size):
    print(i) 
    temp_acc_list = acc_list[i: (i + batch_size)]
    print(temp_acc_list)
    batch_list.append(temp_acc_list)

0
[101]
1
[102]
2
[103]
3
[104]
4
[105]
5
[106]
6
[107]
7
[108]
8
[109]
9
[110]
10
[111]
11
[112]
12
[113]
13
[114]
14
[115]
15
[116]
16
[117]
17
[118]
18
[119]
19
[120]
20
[121]
21
[122]
22
[123]
23
[124]

In [7]:
batch_list

[[101],
 [102],
 [103],
 [104],
 [105],
 [106],
 [107],
 [108],
 [109],
 [110],
 [111],
 [112],
 [113],
 [114],
 [115],
 [116],
 [117],
 [118],
 [119],
 [120],
 [121],
 [122],
 [123],
 [124]]